/*RESET and STYLE SETTING*/

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    text-wrap: balance;
}

*,
*::before,
*::after {
    box-sizing: border-box;
  }
 
:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --black: hsl(0, 0%, 7%);
}

img {
    max-width: 100%;
    display: block;
}

.light-purple {
    background-color: var(--purple-100);
}

.white {
    background-color: white;
}

.yellow {
    background-color: var(--yellow-500);
}

.purple {
    background-color: var(--purple-500);
    color: white;
} 

.light-yellow {
    background-color: var(--yellow-100);
}   

h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    line-height: 1;
}

h2 {
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--black);
}

/*END*/
/*START GRID STYLING*/

.grid-container {
    width: 100%;
    display: grid;
    max-inline-size: 1200px;
    margin-inline: auto;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
    padding: 1.5rem;

}

.grid-container > * {
    border-radius: 1.25rem;
    padding: 2rem;
}

.window {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.grid-container .first-cell {
    grid-area: one;
    text-align: center;
    img {
        margin: 0 auto 0.5rem auto;
        width: 80%;
        
    }
    .ten-x {
        font-size: clamp(3rem, 3vw, 3.5rem);
        color: var(--yellow-500);
    }
    h2 {
        margin-bottom: 1rem;
    }

    .faster {
    font-style: italic;
    font-size: inherit;
    }
}


.grid-container .second-cell {
    grid-area: two;
    padding: 1.2rem;
}

.second-cell img {
        width: 95%;
        margin-bottom: 1rem;
    }

.grid-container .third-cell {
    grid-area: three;
    padding: 1.2rem;
    overflow: hidden;
    img {
        width: 75%;
        margin-top: 1rem;
        margin-bottom: -3rem;
    }
}

.grid-container .fourth-cell {
    text-align: center;
    grid-area: four;
    padding: 1.5rem;
    img {
        width: 100%;
        margin: 1rem auto 1rem auto;

    }

    h2 {
        font-size: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    p {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1;
    }
}

.grid-container .fifth-cell {
    grid-area: five;
    text-align: center;
    padding: 1.5rem;
}

.fifth-cell h2 {
        margin-top: 2rem;
        padding: 0 3rem;
        color: white;

    }

.fifth-cell img {
    width: 70%;
    margin: 0 auto 1rem auto;
}

.grid-container .sixth-cell {
    grid-area: six;
    
}

.sixth-cell h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

.sixth-cell img {
        width: 60%;
        margin-top: 1rem;
    }

.grid-container .seventh-cell {
    grid-area: seven;
}

.seventh-cell h2 {
        margin-bottom: 1.5rem;
    }

.seventh-cell img {
        width: 70%;
    }

.colored-text {
        color: var(--purple-500);
        font-size: 2rem;
        font-style: italic;
    }

.grid-container .eighth-cell {
    grid-area: eight;
}

.eighth-cell h2 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
        line-height: 1;
    }

.eighth-cell img {
        max-width: 80%;
    }

@media (width > 900px) {
    .grid-container {
        width: 100%;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "seven one one four"
        "seven two three four"
        "eight two three four"
        "eight six five five";
    }

    h2 {
        font-size: 1.8rem;
    }

    .fifth-cell {
        display: flex;
        align-items: center;
    }

    .fifth-cell h2 {
        margin-top: 0;
        margin-left: 1rem;
        text-align: left;
        font-size: 1.8rem;
        color: white;
        padding: 0;
    }

    .fifth-cell img {
        max-width: 50%;
    }

    .sixth-cell {
        img {
            width: 150%;
            margin-top: 1rem;
        }

        p {
            margin-top: 1.5rem;
            font-size: 1rem;
            line-height: 1.5;
        }
    }   

    .seventh-cell {
        padding-top: 4rem;
    }

    .seventh-cell img {
        width: 140%;
    }

    .eighth-cell img {
            width: 200%;
            padding: 0;
            margin: 0;
    }

}
/*END GRID STYLING*/